<h1>Static#carousel</h1>

<div id="carousel-example-generic" class="carousel slide carouselwidth center-block" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators center">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>
  
    <div class="carousel-inner" role="listbox">
		<div class="item active">
			<%= link_to image_tag("sample01.jpg", alt: "First slide") %>
		</div>
		<div class="item">
			<%= link_to image_tag("sample02.jpg", alt: "Second slide") %>
		</div>
		<div class="item">
			<%= link_to image_tag("sample03.jpg", alt: "Third slide") %>
		</div>
	</div>
	
	
	  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
	<span class="sr-only">前へ</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
	<span class="sr-only">次へ</span>
  </a>
</div>
