<footer class="footer">
    <small>
        <a href="http://railstutorial.org/">Rails Tutorial</a>
        by Michael Hartl
    </small>
    <nav>
        <ul>
            <li><%= link_to "carousel", carousel_path %></li>
            <li><%= link_to "popover", popover_path %></li>
            <li><%= link_to "tab", tab_path %></li>
            <li><%= link_to "tooltip", tooltip_path %></li>
        </ul>
    </nav>
</footer>